body{
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    height: 100vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-color:#eaf4fe;
} 
.heading{
    display: flex;

    margin-top: 10px;
}
#score_word{
    display: block;
}
#score_int{
    color:#55a4e9;
    font-size: 50px;
    margin-bottom: -1000px;
}
.number{
    display: inline;
    font-size: 30px;
    margin-right: 250px;
    margin-bottom: 150px;
    text-align: left;
    height: 100px;
    /* marg */
}
.score{
    /* display: flex; */
    /* justify-content: center; */
    font-size: 30px;
    text-align: end;
    margin-left: 200px;
}
h2{
    /* display: inline-block; */
    text-align: center;
}  

.quesbox{
    max-width: 100vw;
}
#no_que{
    color:#55a4e9;
    font-size: 40px;
    margin-left: 45px;
    margin-top: 30px;
}
.ques-1{
   justify-content: center; 
  max-width: 700px;
}
span.choice-label{
    display: flex;
    background-color: #55a4e9;
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
    color:white;
    justify-content: center;
    align-items: center;
    height:45px;
    
   
    
}
.choice{
    background-color: white;
    width:700px;
    margin: 3px;
    height: 45px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    
}
.choice:hover{
    /* background-color: #55a4e9; */
    transform: scale(1.05);
    box-shadow: 3px 0.5px 5px #55a4e9;
    /* color:white; */
}
.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
label{
    font-size: 18px;
    margin-top: 5px;
    
}